*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(63, 74, 223, 0.212), rgba(255, 255, 255, 0.947), rgba(34, 99, 8, 0.577)), url("./image/bg.png") no-repeat center/cover;
}

.app{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 100%;
}

.item{
  padding: 20px;
}

header{
    width: 100%;
    background-color: rgba(22, 107, 133, 0.404);
    position: relative;
}
header::after{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background:linear-gradient(to right, green, yellow, red) tomato;
    transform: translateX(-50% -50%);
}

main{
    background-color: rgba(0, 0, 0, 0.358);
    width: 30%;   
}
aside{
    width: 70%;
}

footer{
    background-color: rgba(59, 6, 41, 0.164);
    width: 100%;
  
}
.container-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    color: rgba(5, 65, 65, 0.907);
    background: linear-gradient(to right, rgba(219, 43, 43, 0.5), white, rgba(23, 172, 10, 0.499));
    border-radius: 150px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px white;
    user-select: none;
    font-size: 1.2rem;
}
h3{
    text-align: center;
    user-select: none;
    font-size: 0.8rem;
    text-shadow: 1px 1px 4px tomato;
    color: rgb(6, 66, 68);
    border-radius: 150px;
    padding: 10px;
    background: linear-gradient(to right, rgba(29, 96, 197, 0.5), white, rgba(0, 0, 0, 0.477));
}
.container-h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    text-align: center;
    color: rgb(187, 76, 12);
    letter-spacing: 2px;
    font-size: 0.7rem;
}
.nav-para{
    text-align: center;
    margin: 10px 0;
    color: white;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
.maflon{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: 2px 2px 2px black;
    transform: scale(0);
    animation: nomAnim;
}

@keyframes nomAnim {
    100% {
        transform: scale(0), scale(1);
    }
}
.item-input{
  text-align: center;
  background: linear-gradient(to right, rgba(29, 96, 197, 0.5), white, rgba(0, 0, 0, 0.477));
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(3, 1, 22, 0.962);
  text-shadow: 1px 1px 3px white;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  padding:15px;
}

.scaleAdd{
    transform: scale(0.8);
}

.item-input.active{
    background-color:  none;
}

.info-head{
    text-shadow: 1px 1px 4px tomato;
    color: rgb(6, 66, 68);
}
.item-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
a{
    display: block;
    border-radius: 15px;
    width: 50%;
    margin: 0;
    padding: 0;
   
}
.info-main{
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    border-radius: 10px;
    /* display: none; */
}

.addInfoMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.dispo{
   width: 48%;
   background-color: rgba(167, 65, 47, 0.126);
   margin: 3px;
   padding: 5px;
   border-radius: 10px;
   /* place-self: center; */
   position: relative;

}
/* .dispo::before{
    content: "";
    width: 100px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translateY(-50%);
    text-align: center;
} */
h5{
    text-align: center;
    font-size: 0.9rem;
    padding-top: 5px;
    color: rgb(20, 4, 94);
    letter-spacing: 1px;
}
.dispoPara{
    text-align: center;
    color: rgba(30, 31, 28, 0.979);
    font-size: 0.7rem;
    letter-spacing: 2px;
}

img{
    width: 80%;
    max-width: 150px;
    height: 110px;

    border-radius: 50%;
}
.ok{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dispoPara.second{
    color: rgb(240, 11, 11);
}
.eventDispo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lool{
   background: linear-gradient(to right, rgba(255, 99, 71, 0.507), rgba(172, 226, 121, 0.507), rgba(255, 255, 255, 0.589));
   box-shadow:2px 2px 0 rgb(160, 11, 36);
   width: 120px;
   height: 120px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   font-weight: bold;
   color: rgb(160, 11, 36);
   margin: 10px 0;
   cursor: pointer;
   user-select: none;
}
.change{
    color: rgb(7, 76, 78);
    box-shadow:2px 2px 0 rgb(7, 76, 78);
}

@media screen and (max-width : 550px) {
    main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    .item-input{
        font-size: 0.7rem;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .item-container{
       flex-flow: row wrap;
    }
}