*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    background: linear-gradient(to top, rgba(63, 74, 223, 0.212), rgba(255, 255, 255, 0.947), rgba(34, 99, 8, 0.577)), url("./image/bg.png") no-repeat center/cover;
}

.app{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 100%;
}
.item{
    padding: 20px;
}
.itemCool{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
    width: 100%;
    background-color: rgba(22, 107, 133, 0.404);
    position: relative;
}
header::after{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background:linear-gradient(to right, green, yellow, red) tomato;
    transform: translateX(-50% -50%);
}

main{
    width: 30%;   
}
aside{
    width: 70%;
}

footer{
    width: 100%;
  
}
.container-h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    color: rgba(5, 65, 65, 0.907);
    background: linear-gradient(to right, rgba(219, 43, 43, 0.5), white, rgba(23, 172, 10, 0.499));
    border-radius: 150px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px white;
    user-select: none;
    font-size: 1.2rem;
}
h3{
    text-align: center;
    user-select: none;
    font-size: 0.8rem;
    text-shadow: 1px 1px 4px tomato;
    color: rgb(6, 66, 68);
    border-radius: 150px;
    padding: 10px;
    background: linear-gradient(to right, rgba(29, 96, 197, 0.5), white, rgba(0, 0, 0, 0.477));
}
.container-h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    text-align: center;
    color: rgb(187, 76, 12);
    letter-spacing: 2px;
    font-size: 0.7rem;
}
.nav-para{
    text-align: center;
    margin: 10px 0;
    color: white;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
.maflon{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: 2px 2px 2px black;
    transform: scale(0);
    animation: nomAnim;
}

@keyframes nomAnim {
    100% {
        transform: scale(0), scale(1);
    }
}
.item-input{
  background: linear-gradient(to right, rgba(29, 96, 197, 0.5), white, rgba(0, 0, 0, 0.477));
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(3, 1, 22, 0.962);
  text-shadow: 1px 1px 3px white;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
  width: 150px;
  padding: 10px;
  margin: 10px auto;
}

.scaleAdd{
    transform: scale(0.8);
}

.item-input.active{
    background-color:  none;
}

.info-head{
    text-shadow: 1px 1px 4px tomato;
    color: rgb(6, 66, 68);
}
.item-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
a{
    display: block;
    border-radius: 15px;
    width: 45%;
    margin: 0;
    padding: 0;
}
.info-main{
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    border-radius: 10px;
    /* display: none; */
}

.addInfoMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.dispo{
   width: 48%;
   background-color: rgba(145, 135, 53, 0.426);
   margin: 3px;
   padding: 5px;
   border-radius: 10px;
   position: relative;
}
h5{
    text-align: center;
    font-size: 0.9rem;
    padding-top: 5px;
    color: rgb(20, 4, 94);
    letter-spacing: 1px;
}
.dispoPara{
    text-align: center;
    color: rgba(30, 31, 28, 0.979);
    font-size: 0.7rem;
    letter-spacing: 2px;
}

img{
    width: 80%;
    max-width: 150px;
    height: 110px;

    border-radius: 50%;
}
.ok{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dispoPara.second{
    color: rgb(179, 10, 10);
    background-color: rgba(25, 13, 196, 0.155);
    border-radius: 10px;
    padding: 3px 3px;
    margin: 5px 0;
}

.change{
    color: rgb(7, 76, 78);
    box-shadow:2px 2px 0 rgb(7, 76, 78);
}
.lool{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.debil{
    padding: 15px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
}

.event{
    margin: 10px;
}
.event .tabs a{
    text-decoration: none;
    float: left;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.159);
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.138), 1px 1px 0 rgba(0, 0, 0, 0.838);
}
.event .tabs{
    list-style: none;
    display: inline-block;
    width: 380px;
    margin: 0;
}
.tabs .active a{
    color: rgb(185, 29, 107);
    background-color: rgba(172, 255, 47, 0.5);
    border-radius: none;
}
.tab-content{
    display: none;
    margin: 0px 3px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;

}
.tabs-content{
    
}
.tab-content.active{
    display: block;
    background-color: rgba(172, 255, 47, 0.5);
}

.footer-input{
    display: block;
    padding: 10px 5px;
    margin: 10px;
    width: 93%;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
}
.footer-input:focus{
    border: 2px solid rgb(10, 126, 155);
}
.formulaire{
    width: 80vw;
    max-width: 400px;
    border: 3px solid rgba(10, 126, 155, 0.416);
    border-radius: 10px;
    background-color: rgba(187, 76, 12, 0.247);
    position: relative;
    margin: 30px 0;
}
.formulaire::before{
    content: "Nous écrire :";
    position: absolute;
    width: 120px;
    height: 30px;
    background-color: rgb(10, 126, 155);
    border-radius: 10px;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
textarea:focus{
    border: 2px solid rgb(10, 126, 155);
}
textarea{
    border: 2px solid transparent;    
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 93%;
    resize: none;
}
button{
display: block;
margin: 5px auto;
padding: 10px 25px;
background-color: rgb(10, 126, 155);
border-radius: 5px;
cursor: pointer;
color: rgb(131, 245, 86);
font-size: 1.2rem;
letter-spacing: 1px;
font-weight: bold;
}

.trois, .joyeuxAnnif{
    font-size: 0.6rem;
    background-color: rgba(61, 97, 6, 0.738);
    border-radius: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 4px;
}
.top-li{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.171);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(8, 98, 114);
    user-select: none;
}

.joyeuxAnnif{
    color: rgb(36, 170, 18);
    background-color: white;
    font-size: 0.7rem;
}
@media screen and (max-width : 600px) {
    main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    .item-input{
        font-size: 0.7rem;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .item-container{
       flex-flow: row wrap;
    }
    .event .tabs{
        list-style: none;
        display: inline-block;
        width: 85vw;
        margin: 0;
    }
}

